<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<h1>Welcome to the Den of Zen</h1>
<h2>"<%= @quote %>"</h2>

<p>
  <h2> <a href="http://www.google.com/#q=<%= @words %>" style="color: #2B65EC" target="_blank"><i class="fa fa-google"></i></a>
</h1>
</p>

<style>
body {
      text-align: center;
      background: url("http://lorempixel.com/abstract/400/200");
      background-size: cover;
      background-position: center;
      color: #FFF380;
      font-family: helvetica;
    }

    </style>
<hr>
