<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title> Mashable App </title>
  <style>
    body {
      text-align: center;
      background: url(http://i.imgur.com/nhzIlXa.gif);
      background-size: cover;
      background-color: grey;
      background-size: cover;
      background-position: center;
      color: black;
      font-family: Arial;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
  </style>
<body>

<h1>Welcome to my Mashable App!</h1>
<p>What kind of stories would you like to read?</p>


<br>
<br>
    <div class="list-group">

      <a class="list-group=item" href="/new"><i class="fa fa-newspaper-o fa-fw fa-2x fa-spin"></i>&nbsp; New Stories</a>
      <br>
      <a class="list-group-item" href="/rising"><i class="fa fa-line-chart fa-fw fa-2x fa-spin"></i>&nbsp; Rising Stories</a>
      <br>
      <a class="list-group-item" href="/hot"><i class="fa fa-fire fa-fw fa-2x fa-spin"></i>&nbsp; Hot Stories</a>
      <br>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <iframe id="forecast_embed" type="text/html" frameborder="0"
    height="200" width="50%" src="http://forecast.io/embed/#lat=34.012982&lon=-118.495186&name=General Assembly (Santa Monica, CA)"> </iframe>
    <hr>


</body>
</head>
